<!DOCTYPE html>
<html>
<head>
  <title>Pages</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>

<%= render partial: 'layouts/header' %>

<br/>
<hr/>
<div class="container">
  <div id = "alerts"></div>

  <%= yield %>
</div>

<%= render partial: 'layouts/footer' %>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="false" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close leap-interactive" data-dismiss="modal" aria-hidden="false">&times;</button>
        <h4 class="modal-title">Book Message</h4>
      </div>
      <div class="modal-body" id="message"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary leap-interactive" data-dismiss="modal">Continue</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</body>
</html>



